@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}





/* HERO */


/* HEADER */
.hero{
  width: 100%;
  /* background-image: linear-gradient(180deg, #F8FCFF 0%, #89C6EE6B 100%); */
  background-color: #F8FCFF;
}

header{
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav{
  width: 92%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid #1b52af;
}

header nav .logo{
  width: 15%;
}

header nav .logo img{
  width: 70%;
}

header nav ul{
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header nav ul li{
  font-size: 16px;
  list-style: none;
}

header nav ul li a{
  color: #1b52af;
  text-decoration: none;
}


/* Hero-section */

.slide{
  width: 92%;
  margin: auto;
  padding: 30px 0;
}

.slide .hero-slider{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide .hero-slider .slide-l{
  width: 54%;
}

.slide .hero-slider .slide-l h1{
  color: #1b52af;
  font-size: 50px;
  font-weight: 700;
  /* background-color: #89C6EE6B; */
}
.slide .hero-slider .slide-l button{
  width: 28%;
  height: 78px;
  border-radius: 10px;
  border: none;
  color: #1b52af;
  font-size: 22px;
  background-color: #97deec;
  margin-top: 30px;
}

.slide .hero-slider .slide-r{
  width: 45%;
}

.slide .hero-slider .slide-r .swipe{
  width: 100%;
}

.slide .hero-slider .slide-r .swipe .s-c{
  width: 100%;
}

.slide .hero-slider .slide-r img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-radius: 20px;
}

.more{
  width: 100%;
  background-color: #97deec;

}
.hero .more-info{
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 45px 0;
}

.hero .more-info .info{
  width: 32%;
  display: flex;
  justify-content: space-between;
}

.hero .more-info .bd{
  border-right: 1px solid #1b52af;
}

.hero .more-info .info img{
  width: 50px;
  height: 50px;
}

.hero .more-info .info div {
  width: 80%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.hero .more-info .info div h4{
  font-size: 18px;
  color: #1b52af;

}

.hero .more-info .info div p{
  font-size: 15px;
  margin-top: 6px;
  color: #5e5e5e;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5px;

}

.hero .more-info .info div a{
  font-size: 14px;
}


/* PLANS */
.plans{
  padding: 50px 0;
  width: 100%;
}

.plans .plan1{
  width: 93%;
  margin: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  
}
.plans .org-p{
  align-items: end;
}
.plans .plan1 h2{
  color: #034ed0;
  font-size: 36px;
  width: 52%;
  
}

.plans .plan1 h3{
  color: #464545;
  font-size: 22px;
  width: 38%;
  font-weight: 400;
  line-height: 33px;
}
.plans .plan-m h2{
  width: 80%;
  margin: auto;
  text-align: center;
}

.plans .plan1 button{
  background-color: #89C6EE;
  color: #143f7a;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;


}

.plans .plan1 button:hover{
  background-color: #003286;
  color: #fff;
}

.plans .plan2{
  width: 92%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 20px;
}

.plans .plan2 .plan-c{
  width: 32%;
  border: .5px solid #89C6EE;
  border-radius: 10px;
  background-color: #97deec;
  overflow: hidden;
  margin-bottom: 30px;

}
.plans .plan2 .plan-c:hover img{
  transform: scale(1.2);

}

.plans .plan2 .plan-c img{
  width: 100%;
  border-radius: 10px;
  height:300px;
  object-fit: cover;
  transform: scale(1);
  transition: 1.5s ease-in-out;
  
}

.plans .plan2 .plan-c div{
  text-align: center;
  padding: 40px 0;
  color: #1b52af;
  
}

.plans .plan2 .plan-c div h6{
  font-size: 23px;
}

.plans .plan2 .logos{
  width: 15%;
  margin-bottom: 15px;
}

.plans .plan2 .logos img{
  width: 100%;
}


/* PROVIDER */

.provider{
  width: 100%;
  margin: 40px 0;
  /* background-image: radial-gradient(at center center, #1b52af 0%, #003286 100%); */
  padding: 60px 0;
  background-color: #97deec;
  text-align: center;
  color: #eaf7ff;
}

.provider h2{
  font-size: 36px;
  margin-bottom: 30px;
}

.provider img{
  width: 40%;
  margin-bottom: 40px;
}

.provider p{
  font-weight: 300;
  font-size: 22px;
  width: 65%;
  margin: auto;
  margin-bottom: 30px;
}

.provider button{
  background-color: #47a5c4;
  border: none;
  color: #fff;
  border-radius: 10px;
  padding:15px 25px ;
  font-size: 16px;
}

/* BLOG */
.blog{
  width: 100%;
  padding: 50px 0;
  background-color: #89C6EE;
}

 .plans .blog-p button{
  background-color: #fff;
  font-size: 17px;
 }

 .b-slide{
  width: 92%;
  margin: auto;
 }

 .b-slide section{
  width: 100%;
  text-align: center;
 }

 .b-slide section img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
 }

 .b-slide section h2{
  font-size: 18px;
  color: #003286;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
 }

 .b-slide section a{
  text-decoration: none;
  color: #003286;
  font-size: 14px;
  text-transform: uppercase;
 }


 /* SOCIAL MEDIA */

 .media{
  width: 92%;
  margin: auto;
  padding: 50px 0;
 }

 .media h4{
  font-size: 28px;
  margin-bottom: 20px;
  color: #003286;
 }

 .media p{
  font-size: 20px;
  margin-bottom: 22px;
  width: 40%;
  font-weight: 100;
  color: #034ed0;
 }

 .media .media-icons{
  display: flex;
 }

 .media .media-icons .media-f{
  font-size: 22px;
  color: #003286;
  margin-right: 20px;
 }


 .media-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
 }

 .media-card .card-m{
  width: 49%;
  background-color: #97deec;
  padding: 30px 6px 0 6px ;
  border-radius: 10px;
  height: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
 }
 

 .media-card .card-m div{
  width: 44%;
  color: #F8FCFF;

 }
 .media-card .card-m .m-img{
  width: 50%;
  color: #F8FCFF;

 }

 .media-card .card-m div h2{
  width: 100%;
  font-size: 26px;
  margin-bottom: 10px;
 }


 .media-card .card-m div p{
  width: 100%;
  font-size: 19px;
  margin-bottom: 60px;
  color: #F8FCFF;

 }

 .media-card .card-m div a{
  width: 100%;
  font-size: 16px;
  padding-top: 500px;
  color: #F8FCFF;

 }

 .media-card .card-m div img{
  width: 100%;
  height: 100%;
  
 }

 .media-card .card1 div .dl{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
 }

 .media-card .card1 div .dl img{
  width: 49%;
  height: 60px;
 }

 .media-card .card1 div p{
  margin-bottom: 20px;
 }


 /* Testimonial */

 .test{
  width: 93%;
  margin: auto;
  background-color: #97deec;
  border-radius: 10px;
  padding: 30px 0;
  margin-bottom: 20px;
 }

 .test .testimonial{
  width: 95%;
  margin: auto;
 }

 .test .testimonial h2{
  color: #eaf7ff;
  margin-bottom: 40px;
 }

 .test .testimonial section{
  width: 100%;
  background-color: #eaf7ff;
  border-radius: 10px;
  height: 240px;
  /* padding:20px 15px; */
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
 }
 .test .testimonial section img{
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 200px 10px;
 }

 .test .testimonial section .t-c{
  width: 55%;
 }
 .test .testimonial section p{
  font-size: 14px;
 }

 .test .testimonial section h5{
  font-size: 16px;
  color: #143f7a;
 }
 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
  background-color: #47a5c4;
  /* display: flex !important; */
 }


 /* FOOTER */

 .footer{
  width: 100%;
  background-color: #eaf7ff;
  padding: 60px 0;
  margin-top: 50px;
 }

 .footer .footer-c{
  width: 93%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  color: #143f7a
 }

 .footer .footer-c .f1{
  width: 18%;
 }



 .footer .footer-c .f1 h4{
  font-size: 18px;
 }

 .footer .footer-c .f1 ul{
  margin-top: 30px;
  padding: 0;
 }
 .footer .footer-c .f1 ul li{
  list-style: none;
  width: 100%;
  font-size: 15px;
  margin-bottom: 10px;

 }

 .footer .footer-c .f1 ul li a{
  color: #143f7a;
  text-decoration: none;
 }

 .footer .footer-c .f2{
  width: 20%;
 }

 .footer .footer-c .f2 h4{
  font-size: 17px;
 }

 .footer .footer-c .f2 div{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 }

 .footer .footer-c .f2 div .f-icon{
  font-size: 22px;
 }


 /* View */
 
.view{
  width: 100%;
  padding:0 0 60px 0;
  background-color: #47a5c4  ;
  margin-top: 50px;

}

.view .view-c{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.view .view-c div{
  width: 30%;
  padding: 30PX 0;
  margin-top: -70px;
  text-align: center;
  box-shadow: 0px 4px 50px 25px rgba(0, 0, 0, 0.10);
  background-color: #47a5c4  ;

}

.view .view-c div img{
  width: 50%;
  height: 200px;
  margin-bottom: 20px;
}

.view .view-c div h5{
  font-size: 22px;
  color: #fff;
  margin-bottom: 20px;
}

.view .view-c div button{
  width: 80%;
  padding: 13px 0;
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 14px;
  color: #fff;
  transition: 1.5s ease-in-out;
}

.view .view-c div button:hover{
  background-color: #fff;
  color: #47a5c4;
}

/* MODAL */


 .m-form{ 
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
}

.m-form h3{
  font-size: 30px;
  color: #47a5c4;
  margin-bottom: 20px;
}

.m-form h1{
  font-size: 26px;
  margin-bottom: 20px;
}

.m-form div{
  width:90% ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-form div input{
  width: 65%;
  border: 1px solid #97deec;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
}

.m-form div button{
  width: 30%;
  background-color: #47a5c4;
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 10px;
  height: 50px;
}



/* HEALTH PLANS SCREEN */

.health{
  width: 100%;
  text-align: center;
  padding: 50px 0;
}



.health h2{
  font-size: 40px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
  color: #143f7a;
}

.health .benefits{
  width: 88%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.health .benefits div{
  width: 30%;
  text-align: center;
}

.health .benefits div .p-icon{
  color: #47a5c4;
  font-size: 50px;
  margin-bottom: 30px;
}

.health .benefits div h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.health .benefits div p{
  font-size: 16px;
  color: #5e5e5e;
}

.sel{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.sel select{
  width: 70%;
  height: 70px;
  border: 3px solid #47a5c4;
  border-radius: 10px;
  padding-left: 20px;
}

/* Plans and pricing */

.pricing{
  text-align: center;
  padding: 40px 0;
}

.pricing h2{
  color: #47a5c4;
  font-size: 30px;
  margin-bottom: 20px;
}

.pricing p{
  font-size: 17px;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;

}

.pricing .price-plan{
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #97deec;
  border-radius: 10px;
}
.pricing .price-plan span{
  width: 33.3%;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.lists{
  width: 100%;
  /* height: 70vh; */
  margin-top: 50px;
}

.lists section{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.lists section div{
  width: 32%;
  background-color: #eaf7ff;
  border: 1px solid #97deec;
  border-radius: 10px;
  padding: 40px 0;
}
.lists section div .price-form{
  width: 95%;
  margin: auto;
}
.lists section div .price-form h3{
  font-size: 26px;
  color: #47a5c4;
  padding-bottom: 20px;
  border-bottom: 2px solid #89C6EE;
}
.lists section .s .price-form h3{
  color: #1b52af;
}
.lists section .p .price-form h3{
  color: #215cf2;
}
.lists section div .price-form h1{
  font-size: 50px;
  padding: 12px 0;
  border-bottom: 2px solid #89C6EE;
  color: #47a5c4;
  display: flex;
  align-items: center;
  justify-content: center;

}
.lists section .s .price-form h1{
  color: #1b52af;
}
.lists section .p .price-form h1{
  color: #215cf2;
}

.lists section div .price-form h1 span{
  font-size: 17px;
  margin-left: 4px;
}

.lists section div .price-form input{
  width: 100%;
  border: 1px solid #89C6EE;
  background-color: #F8FCFF;
  height: 60px;
  margin: 30px 0;
  outline: none;
  border-radius: 10px;
  padding-left: 4px;

}

.lists section div .price-form button{
  background-color: #47a5c4;
  width: 100%;
  border: none;
  color: #fff;
  height: 60px;
  font-size: 19px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.lists section .s .price-form button{
  background-color: #1b52af;
}

.lists section .p .price-form button{
  background-color: #215cf2;
}




.lists section div .price-form p{
  font-size: 15px;
  width: 100%;
  margin-bottom: 17px;
}
.lists section div .price-form a{
  margin-top: 6px;
  color: #003286;
}


.active{
  background-color: #47a5c4;
  color: #fff;
}
